    <footer class="sticky-bottom" style="margin-top: 25rem;">
        <div class="f-info">
            <div class="f-information">
                <details>
                    <summary>Information</summary>
                    <ul class="j-info">
                        <li><a href="" class="C"> Careers </a></li>
                        <li><a href="" class="C"> Blog </a></li>
                        <li><a href="" class="C"> Offers And Contest Details</a></li>
                        <li><a href="" class="C"> Help &#38; FAQs</a></li>
                        <li><a href="" class="C"> About Hariom</a></li>
                    </ul>
                </details>
            </div>

            <div class="f-contact">
                <details>
                    <summary>Contact Us</summary>
                    <div>
                        <a href="mailto:hariomthakur210910@acropolis.in" class="C"><i class="fa-solid fa-envelope"></i> Write to Us</a>
                        <a href="tel:9516631851" class="C"><i class="fa-solid fa-phone"></i> 9516631851</a>
                        <a href="sms:9516631851" class="C"><i class="fa-solid fa-message"></i> Chat with Us</a>
                    </div>
                </details>
            </div>

            <div class="f-qrInfo">
                <details>
                    <summary>Download The Hari-GoldCraft Apps Now</summary>
                    <div class="Follow">
                       <a href="https://jewellery-designs.en.softonic.com/android">
                        <img src="https://randomqr.com/assets/images/randomqr-256.png" alt="alt">
                       </a> 
                       <a href="https://www.microsoft.com/store/productId/9WZDNCRDLGLG?ocid=pdpshare">
                        <img src="https://www.jagranimages.com/images/newimg/09042022/09_04_2022-03_03_2022-google_play__22513314_22612938.jpg" alt="">
                       </a>
                        
                    </div>
                </details>
            </div>
        
        </div>
    </footer>

