<nav class="navbar navbar-expand-md bg-light border-bottom sticky-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="navbar-brand d-flex align-items-center" href="/hr">
                        <img src="/images/logo.jpg" alt="Logo" style="width: 40px; height: 40px; border-radius: 5px; margin-right: 5px;">
                        <strong>Hari-GoldCraft</strong>
                    </a>
                </li>
                <% if(currUser && currAdmin) {%>
                <li class="nav-item">
                    <a class="nav-link" href="/hr/listing/new">Add Jewelry Shop</a>
                </li>
                <% } %>
                
                <li class="nav-item">
                    
                    <a class="nav-link" href="/hr/listing">Jewelry Shops</a>
                </li>
            </ul>
            <form class="d-flex"  style="width: 30%;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

                <li class="nav-item dropdown" style="font-size: 1.5rem; margin: 0;">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                    <ul class="dropdown-menu" >

                        <% if(!currUser) { %>
                            <li>
                                <a class="dropdown-item" href="/login">
                                    <i class="fa-solid fa-user" style="margin-right: 5px !important;"></i>User Login
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/adminLogin">
                                    <i class="fa-solid fa-user-tie" style="margin-right: 5px !important;"></i>Admin Login
                                </a>
                            </li>
                        <% } %> 
                        <% if(currUser && !currAdmin) { %>
                            <li>
                                <a class="dropdown-item" href="/logout">
                                    <i class="fa-solid fa-user" style="margin-right: 5px !important;"></i>Log-Out
                                </a>
                            </li>
                        <% } %>
                        
                        <% if(currUser && currAdmin) { %>
                            <li>
                                <a class="dropdown-item" href="/a-logout">
                                    <i class="fa-solid fa-user" style="margin-right: 5px !important;"></i>Log-Out
                                </a>
                            </li>
                        <% } %>                        
                    </ul>
                </li>
            
        </div>
    </div>
</nav>
