/* General Styles */
body {
    font-family: 'Playfair Display', serif; /* Use a more elegant font */
    margin-top: 0 !important;
}

/* Header */
.fa-gem {
    color: gold !important;
    height: 1.5rem !important;
    width: 1.5rem !important;
    margin: 0.2rem;
}

.navbar {
    height: 4rem;
    font-size: 1.5rem;
    background-color: white;
    border-bottom: 2px solid gold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    margin-left: 1rem;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: gold;
}

.nav-Home {
    margin-left: 0;
}

/* Footer */
footer {
    width: 100%; /* Set footer width to full viewport width */
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure the content doesn't overflow */
    padding: 0 !important;
}

.f-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; /* Center content vertically */
    padding: 0; /* Corrected padding */
    max-width: 100%; /* Set a maximum width */
    margin: 0 auto; /* Center the footer content */
}

.f-information, .f-contact, .f-qrInfo {
    flex: 1;
    padding: 10px; /* Adjusted padding */
    min-width: 200px;
    margin: 0 1rem; /* Adjusted margin */
}

.C {
    display: block;
    margin: 0;
    text-decoration: none;
    font-size: 1rem; /* Adjust font size */
    color: #555;
    transition: color 0.3s ease;
}

.C:hover {
    color: gold;
}

.j-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.j-info li {
    margin: 0;
}

.j-info a {
    color: #555;
    text-decoration: none;
    transition: color 0.3s ease;
}

.j-info a:hover {
    color: gold;
}

.f-qrInfo .Follow img {
    max-width: 100%;
    height: 100px !important;
    margin-top: 1px; /* Adjusted margin */
    transition: transform 0.3s ease;
    margin-bottom: 0 !important;
}

.f-qrInfo .Follow img:hover {
    transform: scale(1.05);
}

.follow-us .links1 {
    display: inline-block;
    margin: 0 5px; /* Adjusted margin */
    font-size: 5rem !important; /* Adjust font size */
    color: #555;
    transition: color 0.3s ease;
}

.follow-us .links1 i {
    font-size: 3rem; /* Adjust this value to increase or decrease the size */
    margin: 0.3rem;
    text-decoration: none;
    color: salmon;
    margin-top: 0.2rem !important;
    opacity: 0.7;
}

.follow-us .links1 i:hover {
    opacity: 1;
}

.facebook i {
    color: #1877F2; /* Facebook's blue color */
}

.instagram i {
    color: #E1306C; /* Instagram's gradient pink */
}

.telegram i {
    color: #0088cc; /* Telegram's blue color */
}

.follow-us .links1:hover {
    color: rgb(244, 209, 12);
}

.f-information summary, .f-contact summary, .f-qrInfo summary {
    cursor: pointer;
    font-size: 1rem; /* Adjust font size */
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    transition: color 0.3s ease;
}

.f-information summary:hover, .f-contact summary:hover, .f-qrInfo summary:hover {
    color: gold;
}

.Follow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* Index Design */
.container {
    display: flex;
}

.card {
    margin: 1rem;
    padding: auto;
    background-color: #ccc;
    height: 100%; /* Ensure the card takes full height of its column */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(240, 231, 231);
}

.card-img-top {
    height: 150px; /* Fixed height for the image */
    object-fit: cover; /* Cover the space without distortion */
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem; /* Adjust padding as needed */
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Ensure text doesn't wrap */
}

/* Edit Route */
.btn-edit {
    margin-bottom: 0.5rem !important;
}

.alert {
    margin-bottom: 350px !important;
    margin-left: 380px !important;
    width: 350px;
    padding: 0.5rem !important;
}

/* Review */
.review-section h5.mb-half {
    margin-bottom: 0.5rem;
}

.form-group.row {
    margin-bottom: 1rem;
}

.form-group.row .col-sm-10 {
    display: flex;
    align-items: center;
}

.form-group.row .col-sm-10 .star-rating {
    margin-left: -1rem;
}

.btn-review {
    margin-top: 0 !important;
}

.review-text {
    margin-left: 0.5rem !important;
}

.comment {
    margin-top: 10px;
}

.review {
    margin-left: 0 !important;
    min-width: 11rem !important;
    padding: 0 !important;
    margin-bottom: 5px;
}

/* Star Rating */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: gold;
    display: inline-flex;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

.star-rating input {
    display: none; /* Hide radio buttons */
}

.star-rating label {
    color: #ccc; /* Unfilled star color */
}

.star-rating input:checked ~ label {
    color: gold; /* Filled star color */
}

.star-rating input:checked ~ input:checked ~ label {
    color: gold; /* Ensure all stars up to the selected one are filled */
}

.star-rating input[type="radio"]:checked ~ label {
    color: #FFD700;
}

.star-rating input[type="radio"] ~ label:hover,
.star-rating input[type="radio"] ~ label:hover ~ label {
    color: #FFD700;
}

/* Overlapping Design for Show Page */
.show-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* Base Styling */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header Styling */
.header {
    background-color: silver;
    padding: 0.3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-custom {
    display: flex;
}

.brand-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 80px;
    height: auto;
    border-radius: 20%;
    border: 3px solid #d4af37;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.brand-name {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    margin-left: 1rem;
}

/* Main Content Styling */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 5rem;
}

.scrolling-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 900px;
    max-width: 1300px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.scrolling-images {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
}

.scrolling-images img {
    margin-top: 12px;
    height: 200px;
    margin-right: 15px;
    border-radius: 4px;
}

@keyframes scroll {
    10% { transform: translateX(10%); }
    100% { transform: translateX(-50%); }
}

/* Footer Styling */
.footer {
    background-color: rgb(73, 65, 65);
    color: #e3caca;
    padding: 0.3rem;
    text-align: center;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    margin-top: auto;
    width: 100%;
}

.footer p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.footer-link {
    color: #d4af37;
    text-decoration: none;
    font-weight: 800;
    transition: color 0.3s, text-decoration 0.3s;
}

.footer-link:hover {
    color: #a68a2a;
    text-decoration: underline;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 0;
}

.social-link {
    margin: 0 5px;
    color: #333;
    font-size: 2rem;
    transition: color 0.3s;
    opacity: 0.8;
}

.social-link:hover {
    color: #d4af37;
    opacity: 1;
}

/* Pop-up Styling */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 90%;
    max-height: 80%;
    overflow-y: auto;
    text-align: left;
    font-family: Arial, sans-serif;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.popup-header h2 {
    margin: 0;
    font-size: 1.75em;
}

.close-btn {
    font-size: 1.5em;
    cursor: pointer;
}

.popup-body {
    margin-bottom: 20px;
}

.popup-body p {
    margin-bottom: 15px;
}

.popup-body ul {
    list-style-type: disc;
    margin-left: 20px;
}

.popup-body ul li {
    margin-bottom: 10px;
}

.popup-footer {
    text-align: right;
}

.agree-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.agree-btn:hover {
    background-color: #0056b3;
}

.agree-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-container input {
    margin-right: 10px;
}

/* Card Styling */
.card {
    border: none;
    margin-top: 0 !important;
}

.card-img-top {
    width: 90%;
    height: 300px ;
    object-fit: cover ;
}

.card-body {
    padding: 1rem;
}

.star-rating {
    font-size: 1rem;
    color: gold;
}

.star-rating input:checked ~ label {
    color: gold;
}

.review-section form {
    padding: 1rem;
}

.review-section .form-group {
    margin-bottom: 0.3rem;
}

.review-section .btn-review {
    padding: 0.5rem 1rem;
}

.review-section textarea {
    resize: none;
}

.review {
    border: 1px solid burlywood;
    border-radius: 0.25rem;
}

/* Custom Cards */
.custom-card {
    width: 100%;
    height: 100%;
    max-width: 21rem;
    max-height: 20rem;
}

.custom-card .card-img-top {
    width: 100%;
    height: 150px;
    object-fit: contain;
    background-color: #f1f1f1; /* Optional to fill the empty space with a color */
}


.custom-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Flash Alerts */
.flash {
    margin-bottom: 1rem !important;
    margin-left: 30% !important;
    display: flex;
    justify-content: space-between;
}

/* Registration Page */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signup-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    padding: 30px;
    background-color: #ffffff;
    max-width: 500px;
    width: 100%;
}

.signup-header {
    background: none;
    border-bottom: none;
    text-align: center;
    margin-bottom: 20px;
}

.signup-header h3 {
    font-weight: bold;
    color: #ff7e5f;
    font-size: 28px;
    margin-bottom: 0;
}

.signup-form-label {
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.signup-input {
    border-radius: 25px;
    border: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 16px;
}

.signup-button {
    background-color: #ff7e5f;
    border-color: #ff7e5f;
    border-radius: 25px;
    font-weight: bold;
    padding: 12px;
    width: 100%;
    font-size: 18px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.signup-button:hover {
    background-color: #feb47b;
    border-color: #feb47b;
    transform: translateY(-3px);
}

/* Login Page */
.login-container {
    justify-content: center;
    align-items: center;
    max-width: 400px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.login-header h3 {
    font-weight: bold;
    color: #333;
}

.login-form-label {
    font-weight: 500;
    margin-bottom: 5px;
}

.login-input {
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
}

.login-button {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Error Styling */
.error {
    color: #ff0000;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

/* Custom classes for easier management */
.custom-btn {
    border-radius: 30px;
    padding: 10px 20px;
}

.custom-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* styles.css */
.privacy-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url("/public/images/image1.jpg") ;
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 90%;
    max-height: 80%;
    overflow-y: auto;
    text-align: left;
    font-family: Arial, sans-serif;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.popup-header h2 {
    margin: 0;
    font-size: 1.75em;
}

.close-btn {
    font-size: 1.5em;
    cursor: pointer;
}

.popup-body {
    margin-bottom: 20px;
}

.popup-body p {
    margin-bottom: 15px;
}

.popup-body ul {
    list-style-type: disc;
    margin-left: 20px;
}

.popup-body ul li {
    margin-bottom: 10px;
}

.popup-body a {
    color: #007bff;
    text-decoration: none;
}

.popup-body a:hover {
    text-decoration: underline;
}

.popup-footer {
    text-align: right;
}

.agree-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.agree-btn:hover {
    background-color: #0056b3;
}

.agree-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-container input {
    margin-right: 10px;
}


/* Header Styles */
.header {
    background-color: #f8f9fa; /* Light background color */
    padding: 5px 0; /* Reduced padding for compactness */
    border-bottom: 1px solid #ddd; /* Optional: Add a border for a distinct separation */
}

.navbar-custom {
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: space-between; /* Space between brand and dropdown */
    margin-top: 0; /* Remove extra top margin */
    padding: 0 10px; /* Add some padding on the sides */
}

.brand-link {
    display: flex;
    align-items: center; /* Vertically center the logo and text */
    text-decoration: none;
    color: #333; /* Brand name color */
    
}

.logo {
    padding: 0;
    width: 3rem;
    height: 3rem;
}


.brand-name {
    font-size: 2rem; /* Adjust brand name font size */
    font-weight: bold; /* Make the brand name bold */
}

.nav-item.dropdown {
    list-style: none; /* Remove list styling */
    margin: 0; /* Remove extra margin */
    padding: 0; /* Remove extra padding */
}

.nav-link {
    color: #333; /* Link color */
    text-decoration: none;
    padding: 5px 10px; /* Adjust padding for better click area */
}

.nav-link:hover {
    color: goldenrod; /* Hover color */
}

.dropdown-menu {
    padding: 10px; /* Padding inside dropdown */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for dropdown */
}

.dropdown-item {
    color: #333; /* Dropdown item color */
    padding: 5px 15px; /* Padding for dropdown items */
}

.dropdown-item:hover {
    background-color: #f1f1f1; /* Hover background color */
}


.navbar-brand:hover img {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #f8c471; /* Light gold background */
    border-radius: 5px;
}

.navbar-brand:hover strong {
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #d4af37; /* Gold color */
}



/* Media query for small devices */
@media (max-width: 576px) {
    .brand-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .brand-name {
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }
    .nav-item.dropdown {
        font-size: 1.2rem;
    }
    .scrolling-container {
        width: 100%;
    }
    .footer p {
        font-size: 0.9rem;
    }
}

/* Media query for medium devices */
@media (min-width: 577px) and (max-width: 992px) {
    .brand-name {
        font-size: 1.5rem;
    }
    .scrolling-container {
        width: 90%;

    }
    .footer p {
        font-size: 1rem;
    }
}

/* Media query for large devices */
@media (min-width: 993px) {
    .brand-link {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .brand-name {
        font-size: 2rem;
    }
    .scrolling-container {
        width: 80%;
    }
    .footer p {
        font-size: 1.2rem;
    }
}



/* Adjustments for mobile devices (smaller screens) */
@media (max-width: 768px) {
    .responsive-img {
        height: 150px; /* Smaller images for mobile */
    }

    .responsive-name {
        font-size: 1.2rem; /* Smaller title font size for mobile */
    }

    .responsive-description {
        font-size: 0.9rem; /* Smaller description font size for mobile */
    }

    .responsive-button {
        font-size: 0.9rem; /* Smaller button font size for mobile */
        padding: 8px; /* Smaller padding for mobile */
    }
}

/* Adjustments for tablet-sized screens */
@media (min-width: 768px) and (max-width: 1200px) {
    .responsive-img {
        height: 180px; /* Medium size for tablet screens */
    }

    .responsive-name {
        font-size: 1.4rem; /* Medium title font size for tablet screens */
    }

    .responsive-description {
        font-size: 1rem; /* Medium description font size for tablet */
    }

    .responsive-button {
        font-size: 1rem; /* Medium button size */
        padding: 10px;
    }
}

/* Adjustments for desktop-sized screens (larger screens) */
@media (min-width: 1200px) {
    .responsive-img {
        height: 200px; /* Standard size for desktop screens */
    }

    .responsive-name {
        font-size: 1.6rem; /* Larger title font size for desktop screens */
    }

    .responsive-description {
        font-size: 1.1rem; /* Larger description font size for desktop */
    }

    .responsive-button {
        font-size: 1.1rem; /* Larger button size */
        padding: 12px;
    }
}

/* Medium screens (≥768px) */
@media (min-width: 768px) {
    label {
        font-size: 1.1rem;
    }
    input, textarea {
        font-size: 1rem;
        padding: 8px;
    }
}

/* Large screens (≥1200px) */
@media (min-width: 1200px) {
    label {
        font-size: 1.2rem;
    }
    input, textarea {
        font-size: 1.1rem;
        padding: 10px;
    }
}

/* Small screens (<768px) */
@media (max-width: 767px) {
    label {
        font-size: 1rem;
    }
    input, textarea {
        font-size: 0.9rem;
        padding: 5px;
    }
}



/* Card image styling to maintain aspect ratio */
.card-img-top {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

/* Flexbox layout for stars */
.star-rating {
    display: flex;
    flex-direction: row;
}

/* Style for the review section */
.review {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    background-color: #f8f9fa;
}

.review .comment {
    margin-top: 0.5rem;
}

/* Flexbox for handling location display */
.location-link {
    margin-left: 0.5rem;
    font-size: 0.9rem;
}

/* Add padding to the form fields for larger screens */
@media (min-width: 768px) {
    .form-label {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .form-control {
        padding: 0.75rem 1.25rem;
    }
}

/* Adjust the form layout for smaller screens */
@media (max-width: 767px) {
    .form-label {
        font-size: 0.85rem;
        margin-bottom: 0.3rem;
    }

    .form-control {
        padding: 0.5rem 1rem;
    }

    .review-text {
        font-size: 0.9rem;
    }
}


/* Custom CSS  */
    @media (min-width: 768px) {
        .card {
            min-width: 300px !important;
        }
    }
    
    /* Ensure image scales properly */
    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /* Media queries for responsiveness */
    @media (max-width: 576px) {
        .btn-primary.float-end {
            display: block;
            margin: 10px auto 0;
        }
    }



/* Media Queries for Popup */
@media (max-width: 768px) {
    .popup-content {
        max-width: 95%;
        max-height: 80%;
    }
}

@media (max-width: 576px) {
    .popup-content {
        max-width: 100%;
        max-height: 85%;
    }

    .popup-img {
        max-height: 60vh; /* Further reduce height for smaller screens */
    }
}



/* Responsive Styles */
@media (max-width: 768px) {
    .popup-content {
        width: 75%;
        max-width: 90%;
    }

    .popup-header h2 {
        font-size: 1.25rem;
    }

    .popup-body {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .popup-content {
        width: 90%;
        padding: 15px;
    }

    .popup-header h2 {
        font-size: 1.1rem;
    }

    .popup-body {
        font-size: 0.85rem;
    }

    .close-btn {
        font-size: 1.3rem;
    }

    #agreeBtn {
        padding: 8px 16px;
    }
}


/* General alert styling */
.alert {
    
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}



/* For larger screens (desktops and larger tablets) */
@media (min-width: 992px) {
    .alert {
        font-size: 1.2rem;
       
    }

    
}

/* For medium screens (tablets) */
@media (max-width: 991px) {
    .alert {
        font-size: 1rem;
        padding: 25px;
    }

}

/* For small screens (phones) */
@media (max-width: 576px) {
    .alert {
        font-size: 0.9rem;
        padding: 20px;
    }


    /* Adjusting the column size for smaller screens */
    .col-8 {
        width: 90% !important;
        margin: 0 auto;
    }

    .offset-2 {
        margin: 0;
    }
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
    .signup-card {
        padding: 20px;
    }

    .signup-header h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .signup-card {
        padding: 15px;
    }

    .signup-header h3 {
        font-size: 1.2rem;
    }

    .signup-button {
        padding: 8px;
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .login-container form {
        padding: 20px;
    }

    .login-header h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .login-container form {
        padding: 15px;
    }

    .login-header h3 {
        font-size: 1.2rem;
    }

    .login-button {
        padding: 8px;
    }
}



/* Media queries for responsiveness */
@media (max-width: 768px) {
    .login-container form {
        padding: 20px; /* Reduced padding for smaller screens */
    }

    .login-header h3 {
        font-size: 1.5rem; /* Adjusted font size */
    }
}

@media (max-width: 576px) {
    .login-container form {
        padding: 15px; /* Further reduced padding for mobile */
    }

    .login-header h3 {
        font-size: 1.2rem; /* Smaller font size for mobile */
    }

    .login-button {
        padding: 8px; /* Adjusted padding for button */
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .signup-card {
        padding: 20px; /* Reduced padding for smaller screens */
    }

    .signup-header h3 {
        font-size: 1.5rem; /* Adjusted font size */
    }
}

@media (max-width: 576px) {
    .signup-card {
        padding: 15px; /* Further reduced padding for mobile */
    }

    .signup-header h3 {
        font-size: 1.2rem; /* Smaller font size for mobile */
    }

    .signup-button {
        padding: 8px; /* Adjusted padding for button */
    }
}

@media (max-width: 768px) {
    .f-info {
        flex-direction: column;
        align-items: center;
    }

    .f-details {
        width: 90%; /* More space on smaller screens */
    }
}

.Follow img {
    width: 100px; /* Adjust based on your design */
    margin: 0.5rem; /* Space between images */
}


    /* Custom styles for responsive design */
    .responsive-img {
        width: 100%;
        height: auto;
    }
    
    .card-title, .card-text {
        font-size: 1rem;
    }
    
    /* Adjust font size for smaller screens */
    @media (max-width: 576px) {
        .custom-card{
            height: 300px;
        }
        .responsive-img {
        width: 100%;
        height: auto;
        margin: 0;
    }
        .card-title {
            font-size: 0.7rem;
            margin: 0;
        }
        .card-text {
            font-size: 0.6rem;
            margin: 0;
        }
        .btn.responsive-button {
            font-size: 0.6rem;
            margin: 0;
            padding: 0;
        }
    }

    @media (min-width: 768px) {
        .card-title {
            font-size: 1rem;
        }
        .card-text {
            font-size: 0.7rem;
        }
        .btn.responsive-button {
            font-size: 0.5rem;
            padding: 0;
        }
    }

    @media (min-width: 1200px) {
        .card-title {
            font-size: 1.2rem;
        }
        .card-text {
            font-size: 1rem;
        }
        .btn.responsive-button {
            font-size: 1rem;
            padding: 0;
        }
    }

    .star-rating input {
        display: none;
    }
    .star-rating label {
        margin-right: auto;
        font-size: 2rem;
    }
    .review {
        border: 2px solid lightgrey;
    }

    @media (max-width: 576px) {
        .card-title {
            font-size: 0.9rem; /* Adjust title size for small screens */
        }
    
        .card-text {
            font-size: 0.9rem !important; /* Adjust text size for small screens */
        }
    
        .review-text {
            font-size: 0.85rem !important; /* Smaller textarea font */
            width: 100% !important;
            box-sizing: border-box;
         
        }
    
        .btn {
            font-size: 0.9rem; /* Adjust button size */
        }
    }
    
    @media (min-width: 768px) {
        .card-title {
            font-size: 1.5rem; /* Adjust title size for medium screens */
        }
    
        .card-text {
            font-size: 0.7rem; /* Adjust text size for medium screens */
        }
    }
    
    .review {
        border: 1px solid #ccc;
        border-radius: 8px;
        transition: box-shadow 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Ensures space is used efficiently */
        height: 100%; /* Full height for uniformity */
    }
    
    .review:hover {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
    
    .card-body {
        padding: 1rem; /* Adjust padding for a clean look */
    }
    
    .stars {
        color: gold; /* Star color */
    }
    
    .comment {
        margin-top: 0.3rem;
        font-size: 0.6rem; /* Adjust comment font size */
        flex-grow: 1; /* Allow comment to take available space */
    }
    
    @media (max-width: 576px) {
        .review {
            font-size: 0.65rem; /* Adjust for small screens */
        }
        
        .review-text {
            font-size: 1rem !important; /* Smaller textarea font */
            width: 100% !important;
            box-sizing: border-box;
        }
    }
    
    @media (min-width: 576px) and (max-width: 768px) {
        .review {
            font-size: 0.85rem; /* Adjust for medium screens */
        }
    }
    
    @media (min-width: 768px) {
        .review {
            font-size: 1.05rem; /* Larger font for bigger screens */
        }
    }


    
 

/* Adjustments for larger screens */
@media (min-width: 769px) {
    .navbar-brand img {
        width: 40px !important; /* Larger logo size */
        height: 40px !important;
    }

    .navbar-toggler {
        font-size: 1.1rem !important; /* Adjust toggler icon size */
    }

    .form-control {
        font-size: 0.7rem !important; /* Larger search input font */
        min-width: 400px !important; /* Adjust width of search bar */
        margin-left: 1rem;
    }
    #generalNav{
        margin-left: 15rem !important;
        font-size: 20px !important;
    }
    #userNav{
        position:absolute ;
        right: 8rem;
    }
    .btn-outline-success {
        font-size: 0.7rem; /* Larger button font size */
    }
}

/* Adjust navbar for smaller screens */
@media (max-width: 768px) {
    .navbar-brand img {
      width: 40px !important; /* Smaller logo size */
      height: 40px !important;
    }
  
    .navbar-toggler {
      font-size: 0.9rem; /* Adjust toggler icon size */
      
    }
  
    .form-control {
      font-size: 0.75rem; /* Smaller search input font */
      min-width: 100px; /* Adjust width of search bar */
    }
  
    .btn-outline-success {
      font-size: 0.7rem; /* Smaller button font size */
    }
  }
  
  /* Adjust navbar for extra small screens */
  @media (max-width: 576px) {
    .navbar-brand img {
        width: 35px !important; /* Smaller logo size */
        height: 35px !important;

      }
    .navbar-brand {
      font-size: 0.5rem; /* Smaller brand text */
      padding: 0 !important; 
      margin: 2px !important;
    }
  
    .form-control {
        width: 130px !important; 
        padding: 0 !important;
        margin-left: 5px !important ;
        margin-right: 0 !important;
    }
    .navbar-collapse {
        text-align: end;
        background-color: #ddd;
        color: #d4af37;
        font-size: 0.5rem !important;
        margin: 2px !important;
        
    }
  
    .dropdown-menu {
      font-size: 0.5rem !important; /* Smaller dropdown font size */
      background-color: #f8f9fa; /* Lighter dropdown background for readability */
      color: black;
      margin-right: 0 !important;
      margin-left: 0;
      padding: 0;
    }
  }
  
        